<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <form action="/play_game" method='post'>
        <label for='selection'>Player 1</label>
        <input type="text" name="selection1">
        <label for='selection'>Player 2</label>
        <input type="text" name="selection2">

        <input type="submit" value='play_game'>
    </form>
    {{outcome}}
</body>
</html>