/* CSS */




#driver-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.driver-list-item {
    border 2px solid;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 10px;
}